* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}
.paragraph {
    font-size: 30px;
}
.header {
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.main-content {
    flex: 1 0 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    /*align-items: center;*/
    align-content: center;
}
.item {
    width: 350px;
    height: 250px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    flex-basis: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}